@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button { margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote::before, blockquote::after, q::before, q::after { content: none; }

table { border-collapse: collapse; border-spacing: 0px; }

* { box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

canvas { box-sizing: content-box; }

@font-face { font-family: "ALS Granate VF"; font-weight: 400; src: url(40d84aaeb7a9498bef8a.otf) format("opentype"); }

@font-face { font-family: "ALS Granate VF"; font-weight: 700; src: url(89e071ff108e5e38e317.otf) format("opentype"); }

body { min-height: 100vh; height: 100vh; font-family: "ALS Granate VF", Roboto, sans-serif; overflow: hidden; }

#player-root { width: 100%; }

:root { --vh-player-base-1-color: var(--vh-gc-base-1-color, #0FF3AF); --vh-player-base-2-color: var(--vh-gc-base-2-color, #00B881); --vh-player-button-common-color: var(--vh-gc-button-common-color, #FFFFFF); }

.gcv-root { position: relative; width: 100%; }

.gcv-root h1.gcv-iframe-error { color: rgb(255, 255, 255); font-size: 17px; margin: 50px auto 0px; max-width: 300px; }

.gcv-root h1.gcv-download-error { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); font-size: 17px; padding: 25px; margin: 50px auto 0px; max-width: 300px; }

@keyframes gcv-big-play-button-hide { 
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes gcv-big-pause-button-hide { 
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.gcv-has-watched { position: absolute; left: 24px; top: 24px; user-select: none; pointer-events: none; display: flex; flex-flow: row; align-items: center; }

.gcv-has-watched img { z-index: 3; max-height: 9vh; }

.gcv-has-watched .gcv-has-watched-txt { margin-left: -8px; z-index: 2; display: flex; flex-flow: column; justify-content: flex-start; }

.gcv-has-watched .gcv-has-watched-txt span { display: inline-block; padding: 0px 5px; background: rgb(255, 255, 255); color: rgb(55, 33, 20); font-weight: 700; font-size: 3vh; letter-spacing: 0.05em; text-transform: uppercase; align-self: flex-start; }

.gcv-has-watched .gcv-has-watched-txt span:first-child { border-radius: 8px 8px 0px 0px; }

.gcv-has-watched .gcv-has-watched-txt span:last-child { border-radius: 0px 8px 8px; }

.plyr__poster, .plyr video { height: 100vh; }

.vpl-root .vpl-error-log { position: absolute; z-index: 9999; background: rgb(255, 255, 255); top: 10px; left: 10px; }

.vvd-video { width: 100%; height: 100vh; }

.vvd-control { position: fixed; bottom: 8px; left: 10px; width: calc(100% - 20px); display: flex; padding: 4px; background: rgba(0, 0, 0, 0.24); border-radius: 4px; flex-direction: column; }

.vvd-control--not-active { display: none; }

.vdd-buttons { display: flex; justify-content: space-between; }

.vdd-button { width: 32px; height: 32px; background: rgba(0, 0, 0, 0); border: 0px; outline: 0px; padding: 0px; margin-left: 16px; border-radius: 4px; cursor: pointer; display: flex; justify-content: center; align-items: center; }

.vdd-button:active { opacity: 0.9; }

.vdd-button--play { padding: 0px 0px 0px 2px; }

.vdd-button--disabled { cursor: default; opacity: 0.5; }

.vdd-button--disabled:hover { background: rgba(0, 0, 0, 0); }

.vdd-button--disabled:active { opacity: 0.5; }

.vdd-icon { width: 18px; height: 18px; fill: rgb(255, 255, 255); margin: 0px 8px 0px 0px; }

.vdd-buttons-left, .vdd-buttons-right { display: flex; }

.vdd-current-time { height: 36px; margin: 0px 8px 0px 16px; color: rgb(255, 255, 255); justify-content: center; align-items: center; display: flex; font-size: 16px; cursor: pointer; }

.tml-move-label { position: absolute; top: -27px; z-index: 3; padding: 5px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); user-select: none; border-radius: 4px; font-size: 10px; }

.tml-move-label--hovered { opacity: 0.5; }

.vdd-progress { height: 4px; width: calc(100% - 14px); background: rgba(255, 255, 255, 0.25); margin: 4px 0px 8px 7px; border-radius: 2px; position: relative; cursor: pointer; }

.vdd-progress::before { content: ""; position: absolute; left: 0px; top: 0px; background: var(--vh-player-base-1-color); height: 4px; width: var(--vdd-progress); border-radius: 2px; will-change: width; }

.vdd-progress::after { content: ""; position: absolute; left: 0px; top: -5px; height: 14px; width: 100%; }

.vdd-progress:hover::before { filter: brightness(1.1); }

.vdd-progress-value { width: 14px; height: 14px; background: rgb(255, 255, 255); border-radius: 50%; z-index: 2; position: absolute; left: var(--vdd-progress); top: -5px; transform: translateX(-7px); }

.vdd-progress-point { width: 7px; height: 3.5px; background: rgb(255, 255, 255); border-radius: 5%; z-index: 1; position: absolute; left: var(--vdd-point-progress); top: 0.25px; transform: translateX(-1.75px); }

.vdd-bookmark-remove { --vdd-progress-bm-rm-left: clamp( -7px, calc(var(--bookmark-remove-x) - 17px), calc(var(--vdd-progress-width) - 29px) ); position: absolute; z-index: 9999; display: none; width: 34px; transform: translate(var(--vdd-progress-bm-rm-left), -68px); }

.vdd-bookmark-remove--hovered, .vdd-bookmark-remove:hover { display: block; }

.vdd-bookmark-remove::before { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 70px; z-index: -1; }

.vdd-bookmark-point { --vdd-progress-bm-left: clamp( 0px, calc(var(--bookmark-x) - var(--vdd-progress-bm-width)/2), calc(var(--vdd-progress-width) - var(--vdd-progress-bm-width)) ); --vdd-progress-bm-hover-left: clamp( 0px, calc(var(--bookmark-x) - calc(var(--vdd-progress-bm-width) * 1.5/2)), calc(var(--vdd-progress-width) - var(--vdd-progress-bm-width)* 1.5) ); z-index: 1; position: absolute; width: var(--vdd-progress-bm-width); line-height: var(--vdd-progress-bm-width); transform: translate(var(--vdd-progress-bm-left), 4px); }

.vdd-bookmark-point:hover { width: calc(var(--vdd-progress-bm-width)*1.5); transform: translate(var(--vdd-progress-bm-hover-left), 4px); }

.vdd-bookmark-point svg { fill: rgba(255, 255, 255, 0.25); width: 100%; }

.vdd-bookmark-point--viewed svg { fill: var(--vh-player-base-1-color); }

.mvm-root { width: calc(100% - 14px); height: 40px; padding: 0px 0px 0px 7px; margin: 0px; opacity: 0.5; position: absolute; top: -35px; }

.cvo-root { --vdd-progress: 50%; display: flex; flex-direction: column; align-items: center; position: relative; }

.cvo-root .volume-progress-wrapper { display: none; }

.cvo-root .volume-progress-wrapper:hover { display: flex; }

.cvo-root--active .volume-progress-wrapper { display: flex; }

.cvo-root:hover .volume-progress-wrapper { display: flex; }

.volume-progress-wrapper { display: flex; flex-direction: column; align-items: center; padding: 16px 0px; position: absolute; width: 46px; height: 175px; top: -200px; left: 10px; background: rgb(255, 255, 255); box-shadow: rgba(13, 54, 56, 0.11) 0px 3px 16px; border-radius: 12px; }

.volume-progress-wrapper .vdd-volume-progress { width: 4px; height: 142px; background: rgba(0, 0, 0, 0.15); border-radius: 2px; cursor: pointer; transform: rotate(180deg); }

.volume-progress-wrapper .vdd-volume-progress::before { content: ""; position: absolute; left: 0px; top: 0px; background: var(--vh-player-base-1-color); width: 4px; height: var(--vdd-progress); border-radius: 2px; will-change: width; }

.volume-progress-wrapper .vdd-volume-progress::after { content: ""; position: absolute; top: 0px; left: -5px; width: 14px; height: 100%; }

.volume-progress-wrapper .vdd-volume-progress:hover::before { filter: brightness(1.1); }

.vdd-volume-progress-value { width: 14px; height: 14px; background: var(--vh-player-base-1-color); border: 2px solid rgb(255, 255, 255); border-radius: 50%; z-index: 2; position: absolute; top: var(--vdd-progress); left: -5px; transform: translateY(-7px); }

.fsn-root { cursor: pointer; position: absolute; left: 0px; top: 0px; width: 100%; height: 100vh; display: flex; flex-flow: row; place-content: stretch center; }

.fsn-root .fsn-col { display: flex; align-items: center; justify-content: center; margin: 0px; height: 100vh; width: 33%; }

.fsn-root .fsn-col--center { width: 34%; }

.fsn-root .fsn-col .fsn-go-animation { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 80px; height: 46px; background: rgba(255, 255, 255, 0.1); border-radius: 146.673px; user-select: none; }

.fsn-root .fsn-col .fsn-go-animation .fsn-go-arrows { display: flex; flex-direction: row; }

.fsn-root .fsn-col .fsn-go-animation .fsn-go-txt { color: rgb(255, 255, 255); font-size: 10px; line-height: 18px; }

.fsn-root--fast-back .fsn-col .fsn-go-animation .fsn-go-arrows { transform: rotate(180deg); }

.fsn-root--view-only-mode .fsn-col--right, .fsn-root--view-only-mode .fsn-col--left { visibility: hidden; }

.fsn-root--paused .fsn-main-btn { background: rgba(255, 255, 255, 0.3); border: 0px; animation: 0.4s linear 0s 1 normal forwards running gcv-big-pause-button-hide; }

.fsn-root--played .fsn-main-btn { background: var(--vh-player-base-1-color); animation: 0.4s linear 0s 1 normal forwards running gcv-big-play-button-hide; }

.fsn-root--played .fsn-main-btn svg { margin-left: 7px; }

.fsn-main-btn { position: absolute; width: 80px; height: 80px; border: 2px solid var(--vh-player-base-1-color); outline: 0px; left: calc(50% - 40px); top: calc(50% - 40px); border-radius: 50%; padding: 12px; display: flex; justify-content: center; align-items: center; }

.fsn-main-btn.fsn-main-btn-play { background: var(--vh-player-base-1-color); }

.fsn-main-btn.fsn-main-btn-play svg { margin-left: 7px; }

.fsn-main-btn:hover { opacity: 0.9; }

.fsn-main-btn:active { opacity: 1; }

.fsn-main-btn svg { fill: rgb(0, 0, 0); }

.fsn-buffering-spin { position: absolute; width: 80px; height: 80px; background: var(--vh-player-base-1-color); outline: 0px; left: calc(50% - 40px); top: calc(50% - 40px); border: 2px solid var(--vh-player-base-1-color); border-radius: 50%; }

.fsn-buffering-spin svg { margin-top: -10px; margin-left: -10px; }

.vdd-menu { position: absolute; bottom: 0px; right: 0px; margin: 0px 10px 78px 0px; width: 100%; max-width: 320px; background: rgba(22, 22, 22, 0.87); padding: 8px 0px; box-shadow: rgba(0, 0, 0, 0.22) 1px 1px 3px 0px; color: rgb(255, 255, 255); z-index: 99999; filter: drop-shadow(rgba(13, 54, 56, 0.13) 0px 2px 26px); border-radius: 12px; }

.vdd-menu-header { border-bottom: 1px solid rgba(255, 255, 255, 0.15); font-size: 16px; line-height: 130%; height: 42px; display: flex; align-items: center; justify-content: space-between; padding: 0px 16px; }

.vdd-menu-header a { color: rgb(255, 255, 255); text-decoration: none; font-size: 16px; }

.vdd-menu-header-bar { display: none; }

.vdd-menu-item { --vdd-menu-item-bg-hover: #ffffff0d; padding: 0px 16px; height: 32px; margin-top: 8px; font-size: 16px; display: flex; align-items: center; justify-content: space-between; cursor: pointer; }

.vdd-menu-item svg { fill: rgb(255, 255, 255); }

.vdd-menu-item small { font-size: 11px; }

.vdd-menu-item:hover { background: var(--vdd-menu-item-bg-hover); }

.vdd-menu-item:active { opacity: 0.8; }

.vdd-menu-item--back { --vdd-menu-item-bg-hover: #ffffff00; border-bottom: 1px solid rgba(255, 255, 255, 0.17); height: 40px; padding-bottom: 8px; justify-content: flex-start; }

.vdd-menu-item--not-clicked { cursor: default; }

.vdd-menu-item--selected { font-weight: bold; color: var(--vh-player-base-2-color); }

.vdd-menu-item--disabled { --vdd-menu-item-bg-hover: transparent; opacity: 0.5; cursor: default; }

.vdd-menu-item--disabled:active { opacity: 0.5; }

.gcv-root--mobile-device .vdd-menu-item { height: 40px; }

@media (max-height: 470px) {
  .gcv-root--mobile-device .vdd-menu { display: flex; flex-wrap: wrap; max-width: calc(-24px + 100vw); }
  .gcv-root--mobile-device .vdd-menu--main, .gcv-root--mobile-device .vdd-menu--cdn { flex-direction: column; }
  .gcv-root--mobile-device .vdd-menu--main .vdd-menu-item, .gcv-root--mobile-device .vdd-menu--cdn .vdd-menu-item { width: 100%; justify-content: space-between; }
  .gcv-root--mobile-device .vdd-menu--main .vdd-menu-item--back, .gcv-root--mobile-device .vdd-menu--cdn .vdd-menu-item--back { justify-content: center; }
  .gcv-root--mobile-device .vdd-menu { margin: 0px 10px 68px 0px; }
  .gcv-root--mobile-device .vdd-menu-item { font-weight: 400; font-size: 16px; line-height: 160%; height: 26px; display: flex; justify-content: center; background: rgba(255, 255, 255, 0.06); margin: 2px; width: 30%; }
  .gcv-root--mobile-device .vdd-menu-item--back { width: 100%; height: 30px; padding: 0px; }
}

.mst-root--empty { display: none; }

.swc-root { display: flex; place-items: center; cursor: pointer; }

.swc-radio { opacity: 0; width: 0px; height: 0px; }

.swc-body { width: 48px; padding: 4px; background-color: rgb(136, 136, 136); border-radius: 24px; }

.swc-switch { width: 24px; height: 24px; border-radius: 24px; background: rgb(228, 228, 228); contain: strict; position: relative; }

.swc-radio { position: absolute; }

.swc-radio:checked ~ .swc-body { padding-left: 20px; background: var(--vh-player-base-2-color); }

.cnf-root { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; max-width: 380px; display: flex; flex-direction: column; align-items: center; padding: 12px; gap: 16px; background: rgba(22, 22, 22, 0.87); border-radius: 12px; color: rgb(255, 255, 255); z-index: 99998; }

.cnf-root-question { padding: 0px 16px; font-weight: 400; font-size: 18px; line-height: 130%; display: flex; flex-direction: column; align-items: center; }

.cnf-root-question .cnf-question-header { margin-bottom: 5px; font-weight: bold; }

.cnf-root-btns { margin: 7px 0px 0px; display: flex; flex-flow: wrap; justify-content: center; }

.cnf-button { display: flex; text-transform: uppercase; flex-direction: row; justify-content: center; align-items: center; padding: 10px 24px; gap: 10px; border-radius: 24px; color: rgb(255, 255, 255); font-style: normal; font-weight: 700; font-size: 18px; line-height: 130%; letter-spacing: 0.05em; min-width: 20%; cursor: pointer; text-align: center; margin: 0px 3px 10px; border: 0px; text-decoration: none; }

.cnf-button--w80 { min-width: 80%; }

.cnf-button--confirm { background: var(--vh-player-base-1-color); color: var(--vh-player-button-common-color); }

.cnf-button--danger { border: 1px solid rgba(255, 255, 255, 0.15); background-color: rgba(0, 0, 0, 0); }

.cnf-button--decline { border: 1px solid rgba(255, 255, 255, 0.15); background-color: rgba(0, 0, 0, 0); }

.cnf-button:hover { opacity: 0.9; }

.cnf-button:active { opacity: 1; }

.erm-root { position: absolute; left: 0px; top: 25px; width: 100%; display: flex; flex-direction: column; align-items: center; user-select: none; pointer-events: none; z-index: 99997; gap: 8px; }

.erm-root .erm-item { display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 8px; padding: 8px; max-width: 98%; background: rgba(22, 22, 22, 0.87); border-radius: 12px; }

.erm-root .erm-item .erm-item-txt { text-align: center; font-size: 16px; line-height: 21px; display: flex; align-items: center; letter-spacing: 0.01em; color: rgb(255, 255, 255); }

.vpn-badge { position: absolute; left: 10%; top: 10%; padding: 4px 12px; background: rgb(255, 140, 0); color: rgb(255, 255, 255); border-radius: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; opacity: 0.8; user-select: none; cursor: pointer; transform: translate(-50%, 0px); font-weight: bold; display: block; z-index: 44; }

:root { --pvd-personal-btn-background: #00b2ff; }

.pvd-root { width: 100%; position: relative; }

.pvd-preview { width: 100%; height: 100vh; object-fit: contain; }

.pvd-personal-btn { justify-content: center; align-items: center; padding: 13px; gap: 10px; border-radius: 24px; width: 240px; font-style: normal; font-weight: 700; font-size: 17px; line-height: 32px; min-width: 20%; cursor: pointer; text-align: center; text-decoration: none; background: var(--vh-player-base-1-color); color: rgb(0, 0, 0); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.pvd-personal-btn:hover { opacity: 0.9; }

.pvd-personal-btn:active { opacity: 1; }

.pvd-progress-view { background: rgba(0, 0, 0, 0.5); position: absolute; left: 0px; top: 0px; width: 100%; height: 100vh; z-index: 2; justify-content: center; align-items: center; flex-direction: column; display: flex; }

.pvd-progress-line { width: 200px; height: 8px; border: 1px solid rgba(255, 255, 255, 0.29); border-radius: 4px; margin: 12px 0px 0px; position: relative; }

.pvd-progress-line::after { content: ""; display: block; position: absolute; bottom: 0px; left: 0px; height: 6px; width: var(--pvd-protect-video-progress); background-image: linear-gradient(to right, rgb(0, 122, 255), rgb(52, 170, 220), rgb(90, 200, 250), rgb(76, 217, 100)); transition: width 1s linear; border-radius: 4px; }

.pvd-progress-value { color: rgb(255, 255, 255); }

.pvd-protection-error { width: 100%; padding: 12px; background: rgba(255, 32, 13, 0.82); position: absolute; top: 0px; left: 0px; z-index: 100; display: flex; justify-content: center; align-items: center; color: rgba(255, 255, 255, 0.75); flex-wrap: wrap; }

.svh-root { position: absolute; top: 50%; left: 50%; width: 80%; height: 80%; background: rgb(255, 255, 255); transform: translate(-50%, -50%); padding: 20px; }

.svh-text { display: block; margin: 0px 0px 20px; }

.svh-button { width: 100%; margin: 0px 0px 12px; cursor: pointer; display: block; text-align: center; padding: 4px; background: rgb(36, 170, 229); color: rgb(255, 255, 255); border: 0px; text-decoration: none; border-radius: 4px; font-weight: bold; }

.svh-button:hover { opacity: 0.9; }

.svh-button:active { opacity: 1; }

.svh-info { display: inline-block; margin: 2px 0px 2px 12px; }

.svh-key { font-weight: bold; }

.svh-value { margin: 0px 0px 0px 4px; }

.gqw-root { width: 100%; padding: 12px; background: rgba(22, 141, 226, 0.29); position: absolute; top: 0px; left: 0px; z-index: 100; display: flex; justify-content: center; align-items: center; color: rgba(255, 255, 255, 0.75); flex-direction: column; }

@media (max-width: 768px) {
  .gqw-root { display: none; }
}