@charset "utf-8";

div.animated-element { transition: opacity 1.2s cubic-bezier(0.19, 1, 0.22, 1), transform; backface-visibility: hidden; transform: scale(1); opacity: 1; }

div.animated-element.before-animation { opacity: 0; }

div.animated-element.before-animation[data-animation-mode="increase"] { transform: scale(0.9); }

div.animated-element.before-animation[data-animation-mode="slide-from-left"] { transform: translate(-50px); }

div.animated-element.before-animation[data-animation-mode="slide-from-right"] { transform: translate(50px); }

div.animated-element.before-animation[data-animation-mode="slide-from-top"] { transform: translateY(-50px); }

div.animated-element.before-animation[data-animation-mode="slide-from-bottom"] { transform: translateY(50px); }