@charset "utf-8";

.block-cover, .lt-cover { }

.block-cover .cover-filter, .lt-cover .cover-filter { position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)); }

.lt-block-wrapper.block-cover { display: flex; flex-flow: column wrap; -webkit-box-align: center; align-items: center; padding: 30px 0px; }

.lt-block-wrapper.block-cover .cover-wrapper { margin: auto; z-index: 3; }

.block-cover { background-size: cover; background-position: center center; color: white; }

.cover-with-video { position: relative; }

.cover-with-video .cover-filter { z-index: 2; }

.cover-with-video .player-wrapper { position: absolute; top: 0px; left: 0px; z-index: 1; width: 100%; height: 100%; overflow: hidden; }

.cover-with-video .player-wrapper .player { position: absolute; inset: 0px; z-index: 1; margin: auto; opacity: 0; transition: opacity 0.5s; }

.cover-with-video .player-wrapper .player.active { opacity: 1; }

.lt-cover { background-size: cover; background-position: center center; color: white; text-align: center; }

.lt-cover .header { color: white; }

.lt-cover .description { color: white; }

.lt-cover .buttons { padding-top: 40px; }

.lt-cover .row { margin-left: 0px; margin-right: 0px; }

.cvr01 .subheader { text-transform: uppercase; padding-bottom: 60px; padding-top: 30px; }

.cvr01 .header { padding: 24px 0px 38px; }

.cvr01 .description { max-width: 700px; margin: 0px auto; padding: 0px 0px 30px; }

@media (max-width: 640px) {
  .cvr01 .description { padding-left: 10px; padding-right: 10px; font-size: 14px; line-height: 20px; }
}

.cvr02 .header { text-transform: uppercase; font-size: 104px; line-height: 70px; margin: 74px 0px 54px; }

.cvr02 .description { color: rgb(255, 255, 255); line-height: 1.55; padding: 0px 220px; font-size: 20px; font-weight: 500; }

@media (max-width: 1200px) {
  .cvr02 .header { font-size: 70px; line-height: 70px; margin-top: 30px; }
  .cvr02 .description { padding: 0px 120px; }
}

@media (max-width: 640px) {
  .cvr02 .header { font-size: 34px; line-height: 38px; margin-top: 30px; }
  .cvr02 .description { padding: 0px 10px; }
}

.cvr03 .header { margin-bottom: 50px; }

.cvr03 .description { margin-top: 43px; padding: 0px 50px; }

@media (max-width: 640px) {
  .cvr03 .description { padding: 0px 10px; }
}