@charset "utf-8";

:root { --gcv-has-watched-background: #000; --gcv-has-watched-color: #fff; --gcv-main-btn-background: #0FF3AF; --gcv-main-btn-border-color: #0FF3AF; --vh-gc-base-1-color: #0FF3AF; --vh-gc-base-2-color: #0FF3AF; --vh-gc-button-common-color: #ffffff; }