@charset "utf-8";

#gcrdLessonBlocks #ltBlock2255020171 .fm-btn-back button { background-color: rgb(150, 26, 31) !important; color: rgb(255, 247, 237) !important; border-radius: 10px !important; min-height: 44px !important; padding: 10px 22px !important; }